          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinlz/snippet/<%= '27' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> GASEOSAS/CERVEZAS/FR  ____bebidas_____27be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinlz/snippet/<%= '31' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS TINTOS          ____bebidas_____31be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pinlz/snippet/<%= '37' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____37be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pinlz/snippet/<%= '39' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS S/ALCOHOL     ____bebidas_____39be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
