    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>V.IGILANTE CLASICO . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE CON DULCE DE LE $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN CASERO . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU CASERO . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA IND APPLE CRUMBLE . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS C/ HELADO . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA LA PAMPA . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA MANZANA C/HELADO .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMA O DULCE "VIDAL" . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MIXTA (2 BOCHAS) . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>MILKSHAKE . . . . . . . . $225</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $275</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
