    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO C/CL + 2 LUNAS . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO C/3 FACTURAS .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE COCIDO . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADOS . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS /FACTURAS . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA,MERME,QUESO O DUL  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GOOD MOORNING . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . .  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE GR . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC MANTECA O MERMELADA   $17</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE MEDIALUNA $170</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE MEDIALUNAS/FACT $280</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE FACT ESPECIALES $204</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PROMOS CAFETERIA    </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO C/L + 3 LUNAS . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE CON TOSTAD $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS/CERVEZAS/FR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA/LEVITE .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDAS . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO . . . . . .   $65</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 750ML . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ SELECCION . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON D.O.C 3/4 . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE 3/4 . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA .3/4 . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375ML . . . . $165</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILMES . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS/ HEINEKEN . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE PATAGONIA X 1.5  $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS S/ALCOHOL   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA O CALIENTE . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO NARANJA .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC. BANANA O MANZ . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE/NARANJ $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON DE SODA . . . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">SIDRAS Y CHAMPGNEES </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY BLENDERS PRIDE . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BATIDO . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COGNAC              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZERIA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA/EMPANADA . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FAINA . . . . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA VERDEO/ C JYQ . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA EMPANADAS .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y JAMON . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y MORRON .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRONES   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUG RELLENA . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPOLITANA . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZZETA RELL C/JAM $115</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE CANCHA . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ANCHOAS . . . . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA DEL DIA . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZZA RELLE C/JAM   $32</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA CLASICA . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y JAMON  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y MORRON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON Y MORRONES . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE AJO AL OLEO . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CALABRESA C/LONGA  $465</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITAN ESPECIAL $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE DE CANCHA . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ANCHOAS . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA CLASICA . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y JAMON . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y MORRONE $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AJO AL OLEO . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA C/LONGA . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA Y JAMON  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE CANCHA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ANCHOAS . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ANCHOAS . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MIXTA . . . . . .  $405</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PALMITOS GENTLEMAN $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CARIBEÑA . . . . . $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZA . . . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZA CON QUESO  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZETA CON JAMON $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA . . . $625</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA C/JAM $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ROQUEFORT . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ANCHOAS . . . . . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MIXTA . . . . . . . $295</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS GENTLEMAN  $485</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON CON ANANA . . $355</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $285</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA CON QUESO . $335</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA C/JAMON Y Q $355</li>                          
                <li class="text-center"><span class="fa-li"></span>CH FUGAZZETA RELLENA . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH FUG RELL CON JAMON . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CRUDO Y CHAMPIGNON $245</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE VERDURA . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PROVOLONE . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE J/ CRUDO Y CHAMP . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PIN PUN . . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE J/CRUDO Y RUCULA . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDURA . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA J/CRUDO Y CHAMP . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PIN PUN . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA J/CRUDO Y RUCULA .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPOLITANA . . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS COMPLETA . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA CHICA. . .  $72</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA GRANDE . .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS COMPLETA O A PIACERE  $112</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU CELIACOS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAPAS CON CHEDAR . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS C/CHEDAR Y PANCETA  $300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU PIBES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $295</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU PRIMAVERA . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANGA DEL DIA . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>MIL SENC/ FUG/NAPO/SUIZA $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MILA ESPECIAL. . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>MIL SENC/FUG/NAPO/SUIZA .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANGA ESPECIAL . . . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/GUA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA COMPLETA . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA RIOJANA . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA A LA SUIZA C/GUA $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA FUGAZZETA C/GUAR . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $315</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA CREMA DE ESP $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPR A LA CREMA DE VERDEO $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPO C/GUARNI . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA C/GUARNI .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PIN PUN . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA VERDEO/ESPINACA . $205</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA SUIZA . . .  $198</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">GUARNICIONES        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAPAS NORTEÑAS . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARMESANO . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS . . . . . . $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTE / TORTILLA </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE DE JAMON O QUESO $410</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPAÑOLA . . . . $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS CASERAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SHOW DE ÑOQUIS . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ÑOQUIS CASEROS/TALLARINES $230</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES O CANELONES . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINO/AGNOLOTIS . .  $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSSINI . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE/POLLO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FILETO/CREMA . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PICANTE , SCARPARO  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4QUESOS/GRAN CARUSO $180</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $130</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CRUDO ANANA ROQUFORT . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CRUDO CON PALMITOS . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON DE AVE . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELITAS EN OLIVA . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MUZZA .MILA .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE ARROLLLADO . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CRUDO PALMITOS Y ANANA .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CON RUSA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO DESHUESADO . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE DE TERNERA . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PIZZA/SUIZA O VERDEO  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RODAJAS DE ANA $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DOC. EMPANADAS . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SIN TAC . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW. JAMON Y QUESO . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW. CRUDO Y QUESO . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON O QUESO . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA PORC . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA GR . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO QUESO, JAMON, PRO  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON O QUESO . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON CRUDO . . . .  $205</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU EJECUTIVO . . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POSTRE DEL DIA . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTAS . . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTAS SIN TAC . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE CLASICO . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE CON DULCE DE LE $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN CASERO . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU CASERO . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA IND APPLE CRUMBLE . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLA/DURAZNO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS C/ HELADO . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA LA PAMPA . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA MANZANA C/HELADO .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMA O DULCE "VIDAL" . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MIXTA (2 BOCHAS) . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>MILKSHAKE . . . . . . . . $225</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DE MANZANA . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $275</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
