    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS/CERVEZAS/FR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AGUA SABORIZADA/LEVITE .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDAS . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO . . . . . .   $65</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 750ML . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ SELECCION . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON D.O.C 3/4 . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE 3/4 . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA .3/4 . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375ML . . . . $165</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILMES . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS/ HEINEKEN . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE PATAGONIA X 1.5  $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS S/ALCOHOL   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA O CALIENTE . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO NARANJA .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC. BANANA O MANZ . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE/NARANJ $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON DE SODA . . . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">SIDRAS Y CHAMPGNEES </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY BLENDERS PRIDE . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BATIDO . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COGNAC              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
