    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZERIA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA/EMPANADA . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA VERDEO/ C JYQ . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA EMPANADAS .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y JAMON . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y MORRON .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRONES   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUG RELLENA . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPOLITANA . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZZETA RELL C/JAM $115</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE CANCHA . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA CLASICA . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y JAMON  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZARELLA Y MORRON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON Y MORRONES . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE AJO AL OLEO . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CALABRESA C/LONGA  $465</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITAN ESPECIAL $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE DE CANCHA . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ANCHOAS . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA CLASICA . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y JAMON . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZARELLA Y MORRONE $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AJO AL OLEO . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA C/LONGA . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA Y JAMON  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE CANCHA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ANCHOAS . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ANCHOAS . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MIXTA . . . . . .  $405</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PALMITOS GENTLEMAN $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CARIBEÑA . . . . . $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZA . . . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZA CON QUESO  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZETA CON JAMON $485</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA . . . $625</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGA RELLENA C/JAM $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ROQUEFORT . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ANCHOAS . . . . . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MIXTA . . . . . . . $295</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS GENTLEMAN  $485</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON CON ANANA . . $355</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $285</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA CON QUESO . $335</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA C/JAMON Y Q $355</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CRUDO Y CHAMPIGNON $245</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE VERDURA . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PROVOLONE . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE J/ CRUDO Y CHAMP . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PIN PUN . . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE J/CRUDO Y RUCULA . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDURA . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA J/CRUDO Y CHAMP . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PIN PUN . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA J/CRUDO Y RUCULA .  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU CELIACOS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTAS SIN TAC . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS CON CHEDAR . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS C/CHEDAR Y PANCETA  $300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU PIBES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $295</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANGA DEL DIA . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>MIL SENC/ FUG/NAPO/SUIZA $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MILA ESPECIAL. . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/GUA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA COMPLETA . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA RIOJANA . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA A LA SUIZA C/GUA $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA FUGAZZETA C/GUAR . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $315</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA CREMA DE ESP $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPR A LA CREMA DE VERDEO $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPO C/GUARNI . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA C/GUARNI .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA PIN PUN . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">GUARNICIONES        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAPAS NORTEÑAS . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARMESANO . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS . . . . . . $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTE / TORTILLA </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE DE JAMON O QUESO $410</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPAÑOLA . . . . $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS CASERAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SHOW DE NOQUIS . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS CASEROS/TALLARINES $230</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES O CANELONES . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINO/AGNOLOTIS . .  $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSSINI . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE/POLLO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FILETO/CREMA . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PICANTE , SCARPARO  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4QUESOS/GRAN CARUSO $180</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $130</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO DESHUESADO . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE DE TERNERA . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PIZZA/SUIZA O VERDEO  $660</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SIN TAC . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PROMO               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DOC. EMPANA . . . . . . . $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO QUESO, JAMON, PRO  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON O QUESO . . .  $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
