    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS              </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTAS . . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE MEDIALUNAS/FACT $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO C/CL + 2 LUNAS . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO C/3 FACTURAS .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE COCIDO . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADOS . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS /FACTURAS . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA,MERME,QUESO O DUL  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GOOD MOORNING . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE GR . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE MEDIALUNA $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLA/DURAZNO . . . .  $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PROMOS CAFETERIA    </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO C/L + 3 LUNAS . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE CON TOSTAD $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pinlz/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
